body {
    background-color: rgb(30, 60, 131);
}

h1,
p,
h2,
label {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 100px;
    height: 100px;
    float: left;
    padding: 15px;
}

label {
    font-weight: bold;
}